@media screen and (max-width: 1370px) {
    #Home {
        .right {
            .bicycle {
                height: 500px;
            }
        }
    }
}

@media screen and (max-width: 1320px) {
    #Home {
        .right {
            .bicycle {
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 1230px) {
    #Home {
        .left {

            .head {
                margin-left: 70px;
                font-size: 30px;
                margin-top: 70px;
            }

            .para {
                font-size: 15px;
                margin-left: 70px;
                width: 261px;
                line-height: 1.1;
                margin-top: 24px;
            }

            .btn {
                width: 170px;
                height: 45px;
                margin-left: 70px;
                margin-top: 15px;
            }
        }

        .right {
            .bicycle {
                margin-top: 165px;
                margin-left: 370px;
            }
        }
    }
}

@media screen and (max-width: 1145px) {


    #Contact_Us {
        flex-direction: column;

        .two {
            gap: 90px;
            margin-top: 50px;
        }

        .three {
            margin-left: 0;

            h3 {
                text-align: center;
                margin-top: 90px;
            }

            .FirstThree {
                img {
                    height: 100px;
                    width: 100px;
                }
            }

            .SecondThree {

                img {
                    margin-bottom: 60px;
                    height: 100px;
                    width: 100px;

                }
            }
        }
    }

    #aa {
        gap: 40px;

        .bicucle {
            img {
                width: 487px - 48px;
                height: 458px - 45px;
                margin-top: 125px;
                margin-left: 0;
            }
        }

        .lorem {
            .lower {
                gap: 10px;
            }
        }
    }

    #About_us {
        .newBicycle {
            img {
                height: 324px - 32px;
                width: 537px - 53px;
            }
        }


        .luxury {
            img {
                width: 541px - 54px;
                height: 322px - 42px;
                margin-top: 95px;
            }
        }
    }

    .already {
        gap: 20px;
    }

    #Gallery {
        .in1 {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 59px;
        }
    }

    #Blog {
        .inn1 {
            display: flex;
            margin-top: 52px;
            justify-content: center;
            gap: 20px;
        }
    }
}




@media screen and (max-width: 1100px) {

    #Pages #carouselExampleControls .carousel-inner .carousel-item div {
        width: -webkit-fill-available;
    }

    #aa .bicucle img {
        margin-top: 100px;
    }

    #About_us .newBicycle img {
        margin-top: 100px;
    }

    #forIcon {
        display: block;
        position: absolute;
        right: 150px;
        top: 50px;
        font-size: 39px;
        color: grey;
    }

    #navbar {
        flex-direction: column;

        #logo {
            p {
                font-size: 30px;
                margin-left: 75px;
            }

            a {
                img {
                    margin-left: 93px;
                    width: 87px;
                    height: 75px;
                }
            }
        }


        ul {
            flex-direction: column;
            text-align: center;
            width: 100%;
            background-color: white;
            box-shadow: 0px 0px 59px 7px rgba(0, 0, 0, 0.75);
            transition: 10s ease;
            display: none;

            li {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                padding-bottom: 10px;
            }

            a {
                display: block;
                padding-top: 21px;
            }
        }
    }

    #Home {
        display: flex;
        flex-direction: column-reverse;

        .left {
            position: relative;

            .head {
                margin: auto;
                text-align: center;
                margin-top: 50px;
            }

            .para {
                margin: auto;
                margin-top: 24px;
                width: 450px;
            }

            .btn {
                margin: auto;
                display: block;
                margin-top: 26px;
            }
        }

        .right {

            // position: relative;
            .bicycle {
                margin: auto;
                display: block;
                margin-top: 100px;

            }
        }
    }

    #aa {
        flex-direction: column;

        .bicucle {
            justify-content: center;
            display: flex;
        }

        .lorem {
            .upper {
                .first {
                    text-align: center;
                    margin-top: 20px;
                }

                .second {
                    text-align: center;
                    margin: auto;
                    margin-top: 40px;
                }
            }

            .lower {
                display: none;
            }
        }
    }

    #About_us {
        flex-direction: column;

        .newBicycle {
            display: flex;
            justify-content: center;
        }

        .luxury {
            display: flex;
            justify-content: center;

            p {
                margin-left: -250px;
            }
        }
    }

    #Pages #carouselExampleControls .carousel-inner .carousel-item div {
        margin: 0 120px;
    }

    #Pages img {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
    }

    #Pages img {
        margin: auto;
        margin: 0 120px;
    }


    #Gallery> :first-child {
        // color: black;
        display: none;
    }

    #Gallery {
        .in1 {
            .in2:not(:first-child) {
                margin-top: 100px;
            }

            .in2 {
                .in3 {
                    margin: auto;
                }
            }
        }

        .Product {
            &::after {
                width: 60vw;
            }
        }
    }

    .already {
        flex-direction: column;
    }

    #Blog> :first-child {
        display: none;
    }

    #Blog {
        .inn1 {
            flex-direction: column;
            gap: 50px;

            .inn2 {
                margin: auto;
            }
        }

        .Latest_Blog {
            &::after {
                width: 60vw;
            }
        }
    }


    #Gallery {

        hr {
            display: block;
            border: none;
            border-top: 2px solid #333;
            overflow: visible;
            text-align: center;
            margin: auto;
            font-size: 35px;
            line-height: 25px;
            color: #1a4c85;
            font-weight: 700;
            font-family: "Roboto";
            margin: 0 62px;
            margin-top: 100px;
            width: -webkit-fill-available;
        }

        hr:after {
            background: #fff;
            content: 'Our Procuct';
            padding: 0 4px;
            position: relative;
            top: -10px;
        }
    }

    #About_us {
        gap: 20px;

        .newBicycle {
            img {
                height: 324px - 32px;
                width: 537px - 53px;
            }

            p {
                font-size: 30px - 3px;
                width: 537px - 53px;
            }
        }
    }

    #Blog {
        hr {

            display: block;
            border: none;
            border-top: 2px solid #333;
            overflow: visible;
            text-align: center;
            margin: auto;
            font-size: 35px;
            line-height: 25px;
            color: #1a4c85;
            font-weight: 700;
            font-family: "Roboto";
            margin: 0 62px;
            margin-top: 100px;
            width: -webkit-fill-available;

        }

        hr:after {
            background: #fff;
            content: 'Latest Blog';
            padding: 0 4px;
            position: relative;
            top: -10px;
        }
    }

    #Pages {
        flex-direction: column;
        justify-content: center;
    }

}

@media screen and (max-width: 1000px) {
    .navbar {
        .collapse {
            .navbar-nav {
                width: auto;
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    #Home {
        .right {
            .bicycle {
                height: 315px;
                margin-left: auto;
            }

            .road {
                margin-top: -130px;
                height: auto;
            }
        }
    }

    #aa {
        gap: 30px;

        .bicucle {
            img {
                width: 425px;
                height: auto;
            }
        }
    }

    #About_us {
        gap: 20px;

        .newBicycle {
            img {
                height: 324px - 32px;
                width: 537px - 53px;
            }

            p {
                font-size: 30px - 3px;
                width: 537px - 53px;
            }
        }

        .luxury {
            img {
                width: 541px - 54px;
                height: 322px - 32px;
            }

            p {
                font-size: 30px - 3px;
            }
        }
    }




    #Gallery {
        .Product {
            margin-left: 35px;

            &::after {
                width: 72vw;
            }
        }

        .in1 {
            gap: 20px;

            .in2 {
                .in3 {
                    width: 225px;
                }

            }
        }
    }


    #Blog {
        .Latest_Blog {
            margin-left: 50px;

            &::after {
                width: 69vw;
            }
        }

        .inn1 {
            padding: 0;
            justify-content: center;
            gap: 10px;

            .inn2 {
                img {
                    width: 300px;
                }

                .paRa {
                    font-size: 21px;
                }

                .sep22 {
                    font-size: 16px;
                }

                .cons {
                    font-size: 14px;
                    width: 260px;
                }
            }
        }
    }

}

@media screen and (max-width: 630px) {
    #Contact_Us {
        .two {
            gap: 50px;
        }
    }
}